<div>
    <div id="top">
        <!-- Nav Bar -->
        <div id="nav">
            <div class="inner">
                <div id="menu-left">
                    <a href="#top"><img class="home-icon" src="assets/logos/favicon.png"></a>
                </div>
                <div id="menu-right">
                    &nbsp;
                    <a href="#about">About</a>&nbsp;
                    <a href="#education">Education</a>&nbsp;
                    <a href="#work">Work</a> &nbsp;
                    <a href="#projects">Projects</a> &nbsp;
                </div>
            </div>
        </div>
        <!-- Home Page -->
        <div id="home-page">
            <div id="home-items">
                <!-- Header -->
                <div id="header">
                    <div class="inner">
                        <p class="name">Christopher Ross</p>
                        <a href="https://github.com/ChristopherTRoss/">
                            <img class="top" src="assets/logos/github-logo.png">
                        </a>
                        <a href="https://www.linkedin.com/in/christophertross1/">
                            <img class="top" src="assets/logos/linkedin-logo.png">
                        </a>
                    </div>
                </div>
                <!-- About -->
                <div id="about">
                    <div class="inner-terminal">
                        <div id="code">
                            <div id="dot-row">
                                <div id="dot-red"></div>
                                <div id="dot-yellow"></div>
                                <div id="dot-green"></div>
                            </div>
                            <div id="console">
                                &gt; Chris.about<br />
                                <span class="answer">&nbsp;&nbsp;&gt; "Hi! 👋 I am a full stack software engineer
                                    currently
                                    working
                                    at IBM."<br /><br /></span>
                                &gt; Chris.location<br />
                                <span class="answer">&nbsp;&nbsp;&gt; "Salt Lake City, UT"<br /><br /></span>
                                &gt; Chris.education<br />
                                <span class="answer">&nbsp;&nbsp;&gt; "Louisiana State University"<br /><br /></span>
                                &gt; Chris.major<br />
                                <span class="answer">&nbsp;&nbsp;&gt; "Computer Science"<br /><br /></span>
                                &gt; Chris.interests<br />
                                <span class="answer">&nbsp;&nbsp;&gt; ["Coding", "Design", "Running", "Hiking",
                                    "Skiing",
                                    "Traveling"]<br /><br /></span>
                                &gt; Chris.languages<br />
                                <span class="answer">&nbsp;&nbsp;&gt; ["C#", "Java", "Angular", "HTML", "JavaScript",
                                    "TypeScript", "CSS", "SQL"]<br /><br /></span>
                                &gt;<span class="blink"> _</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exp">
            <div id="education">
                <div class="inner">
                    <!-- Education -->
                    <h2><mat-icon id="header-icon">fiber_manual_record</mat-icon>Education</h2>
                    <mat-card class="resume-card">
                        <div class="title-row">
                            <b class="title-left">Computer Science, B.S.</b>
                        </div>
                        <div class="info-row">
                            <div class="info-block">
                                <mat-icon id="info-icon">school</mat-icon>
                                <span class="info-text">LSU</span>
                            </div>
                            <div class="info-block">
                                <mat-icon id="info-icon">location_on</mat-icon>
                                <span class="info-text">Baton Rouge, LA</span>
                            </div>
                            <div class="info-block">
                                <mat-icon id="info-icon">date_range</mat-icon>
                                <span class="info-text">2014 - 2018</span>
                            </div>
                        </div>
                        <div id="activites">Activities:</div>
                        <ul class="list-items">
                            <li>Concentration: Software Engineering</li>
                            <li>Minor: Business Administration</li>
                            <li>Association for Computing Machinery Member</li>
                            <li>S&B Engineers Brookshire Scholarship Recipient</li>
                            <li>TOPS Scholarship Recipient</li>
                            <li>Alpha Lambda Delta Honors Society</li>
                            <li>Order of Omega Honors Society</li>
                            <li>Dean's List</li>
                        </ul>
                        <div id="coursework">Related Coursework:</div>
                        <ul class="list-items">
                            <li>Software Systems Development</li>
                            <li>Computer Organization and Design</li>
                            <li>Cloud Fundamentals and Web Programming</li>
                            <li>Advanced Data Structures and Algorithm Analysis</li>
                            <li>Database Management Systems</li>
                            <li>Programming Languages</li>
                            <li>Differential Equations and Linear Algrbra</li>
                            <li>Introduction to Data Mining</li>
                            <li>Object Oriented Design</li>
                            <li>Compiler Construction</li>
                            <li>Operating Systems</li>
                        </ul>
                        <div class="skill-container">
                            <span class="skill">Java</span>
                            <span class="skill">SQL</span>
                            <span class="skill">HTML</span>
                            <span class="skill">JS</span>
                            <span class="skill">CSS</span>
                            <span class="skill">SAS</span>
                        </div>
                    </mat-card>
                    <!-- Work Experience -->
                    <div id="work">
                        <h2><mat-icon id="header-icon">fiber_manual_record</mat-icon>Work</h2>
                        <mat-card class="resume-card">
                            <div class="title-row">
                                <b class="title-left">Senior Application Developer</b>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <mat-icon id="info-icon">work</mat-icon>
                                    <span class="info-text">IBM</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">location_on</mat-icon>
                                    <span class="info-text">Baton Rouge, LA</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">date_range</mat-icon>
                                    <span class="info-text">June 2023 - Present</span>
                                </div>
                            </div>
                            <ul class="list-items">
                                <li>Lead development team that implemented an internal microservices Swagger validation
                                    and compliance tool accessible via user interface and utilized during every pipeline
                                    run on the project</li>
                                <li>Implemented customer account action APIs for sub-users, enhancing user experience
                                    and back-end functionality</li>
                                <li>Developed front-end components for account creation, form validation, and user
                                    accessibility</li>
                                <li>Mentored and assisted junior team members in completing project assignments</li>
                                <li>Represented IBM in client-facing meetings</li>
                            </ul>
                            <div class="skill-container skill-padding">
                                <span class="skill">Java</span>
                                <span class="skill">Angular</span>
                                <span class="skill">Spring Boot</span>
                                <span class="skill">MongoDB</span>
                                <span class="skill">PostgreSQL</span>
                                <span class="skill">Jenkins</span>
                                <span class="skill">Red Hat OpenShift</span>
                                <span class="skill">RESTful API</span>
                            </div>
                            <div class="title-row">
                                <b class="title-left">Application Developer</b>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <mat-icon id="info-icon">work</mat-icon>
                                    <span class="info-text">IBM</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">location_on</mat-icon>
                                    <span class="info-text">Baton Rouge, LA</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">date_range</mat-icon>
                                    <span class="info-text">Jan 2019 - June 2023</span>
                                </div>
                            </div>
                            <ul class="list-items">
                                <li>Developed, deployed, and maintained a cloud microservices web application used daily
                                    by top US banks</li>
                                <li>Analyzed and improved main components of application’s landing page utilized by all
                                    users</li>
                                <li>Wrote unit and integration tests to ensure proper application functionality</li>
                                <li>Worked with project managers and the UI/UX team to confirm the application met
                                    business and design standards</li>
                                <li>Mentored junior developers in IBM apprenticeship program</li>
                                <li>Followed agile methodology: utilized paired programming to ensure high quality code,
                                    attended daily standups, participated in weekly knowledge sharing sessions, and lead
                                    demos of new features bi-weekly for clients</li>
                            </ul>
                            <div class="skill-container">
                                <span class="skill">C#</span>
                                <span class="skill">Angular</span>
                                <span class="skill">PostgreSQL</span>
                                <span class="skill">Docker</span>
                                <span class="skill">GraphQL</span>
                                <span class="skill">Microsoft Orleans</span>
                            </div>
                        </mat-card>
                        <br>
                        <mat-card class="resume-card">
                            <div class="title-row">
                                <b class="title-left">Software Engineer Intern</b>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <mat-icon id="info-icon">work</mat-icon>
                                    <span class="info-text">US Air Force</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">location_on</mat-icon>
                                    <span class="info-text">Eglin AFB, FL</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">date_range</mat-icon>
                                    <span class="info-text">May - August 2018</span>
                                </div>
                            </div>
                            <ul class="list-items">
                                <li>Developed and implemented a site wide notification system for the squadron's website
                                </li>
                                <li>Modified and improved lightning strike mapping system</li>
                            </ul>
                            <div class="skill-container">
                                <span class="skill">C#</span>
                                <span class="skill">JS</span>
                                <span class="skill">AngularJS</span>
                                <span class="skill">HTML</span>
                                <span class="skill">CSS</span>
                            </div>
                        </mat-card>
                        <br>
                        <mat-card class="resume-card">
                            <div class="title-row">
                                <b class="title-left">Software Engineer Intern</b>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <mat-icon id="info-icon">work</mat-icon>
                                    <span class="info-text">Jacobs</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">location_on</mat-icon>
                                    <span class="info-text">Fort Walton Beach, FL</span>
                                </div>
                                <div class="info-block">
                                    <mat-icon id="info-icon">date_range</mat-icon>
                                    <span class="info-text">May - July 2017</span>
                                </div>
                            </div>
                            <ul class="list-items">
                                <li>Designed and created a SQL database for storing and retrieving company information
                                </li>
                                <li>Designed and implemented a company specific website which manipulates data and
                                    interfaces with the SQL database</li>
                            </ul>
                            <div class="skill-container">
                                <span class="skill">SQL</span>
                                <span class="skill">HTML</span>
                                <span class="skill">PHP</span>
                                <span class="skill">JS</span>
                                <span class="skill">CSS</span>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <!-- Personal projects -->
                <div id="projects">
                    <h2><mat-icon id="header-icon">fiber_manual_record</mat-icon>Personal Projects</h2>
                    <div class="project-row">
                        <mat-card class="project-card"
                            (click)="routeToLink('https://github.com/ChristopherTRoss/BudgetMaster')">
                            <div class="projects-title">
                                BudgetMaster
                            </div>
                            A budgeting Android application that allows users to easily keep track of budgets and
                            day-to-day spending. Users may enter their monthly income and divide it into smaller expense
                            categories (e.g. entertainment, gas, groceries, etc.). The application will provide an
                            intuitive user interface and a budget analysis to encourage users to keep track of their
                            spending.
                            <div class="skill-container">
                                <span class="skill">Java</span>
                            </div>
                        </mat-card>
                        <mat-card class="project-card"
                            (click)="routeToLink('https://github.com/ChristopherTRoss/LsuEats')">
                            <div class="projects-title">LSUEats
                            </div>
                            An Android application that allows users to pick preferences for meals around LSU's campus,
                            then based on those preferences, generates a meal for the user. The different preferences
                            are location,
                            food type, and price range. Users can select and deselect multiple preferences.
                            <div class="skill-container">
                                <span class="skill">Java</span>
                            </div>
                        </mat-card>
                    </div>

                    <div class="project-row">
                        <mat-card class="project-card"
                            (click)="routeToLink('https://github.com/ChristopherTRoss/budget-plus')">
                            <div class="projects-title">
                                Budget+
                            </div>
                            A Java app used to plan out a budget, savings, and track/categorize expenses. The app
                            includes an interactive
                            dashboard to help users visualize their expenses.
                            <div class="skill-container">
                                <span class="skill">Java</span>
                                <span class="skill">HTML</span>
                                <span class="skill">CSS</span>
                            </div>
                        </mat-card>
                        <mat-card class="project-card" id="card-spacing"
                            (click)="routeToLink('https://github.com/ChristopherTRoss/personal-website')">
                            <div class="projects-title">Personal Website
                            </div>
                            Source code for this personal website.
                            <div class="skill-container">
                                <span class="skill">Angular</span>
                                <span class="skill">TS</span>
                                <span class="skill">JS</span>
                                <span class="skill">HTML</span>
                                <span class="skill">CSS</span>
                            </div>
                        </mat-card>
                    </div>
                    <div id="view-projects"
                        (click)="routeToLink('https://github.com/ChristopherTRoss?tab=repositories')">
                        <span id="view-text">View All Projects</span>
                        <mat-icon id="arrow-icon">keyboard_arrow_right</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>