html,
body {
    margin: 0;
    height: 100%;
}

#top {
    overflow: auto;
}

@media (max-width: 415px) {
    #nav {
        font-size: 16px !important;
    }

    #menu-right {
        float: unset !important;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    #about {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    #exp {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}

@media (max-width: 650px) {
    .project-row {
        display: unset !important;
    }

    .project-card {
        width: 100% !important;
        margin-bottom: 1.2em !important;
    }
}

@media (max-width: 500px) {
    .project-row {
        display: unset !important;
    }

    .project-card {
        width: 100% !important;
        margin-bottom: 1.2em !important;
    }
}

@media (max-width: 525px) {
    .title-row {
        display: unset !important;
    }

    .title-right {
        width: 100% !important;
        text-align: left !important;
    }

    .title-left {
        width: 100% !important;
    }
}

#nav {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
    padding: 0.25rem 0rem;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 1.2rem;
    border-radius: 0.5rem;

    background: rgba(41, 104, 175, 0.95);
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav.scrolled {
    background: rgba(6, 56, 105, 0.45); /* semi-transparent lighter blue */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* subtle separation */
    transition: background 0.3s ease, box-shadow 0.3s ease;
}


#menu-right a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

#menu-right {
    padding-right: 0.5rem;
}

#home-page {
    background-color: #2968af;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

@media (hover: hover) {
    #menu-right a:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    #menu-left a:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

#header {
    padding-top: 10px;
    text-align: center;
    font-size: 3.74rem;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

#education,
#work,
#projects {
    padding-top: 35px;
}

p.name {
    margin-bottom: 0px;
}

img.top {
    width: 25px;
    height: 25px;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

img.home-icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 2em;
}

img.top:hover,
img.home-icon:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}



.inner {
    max-width: 100%;
    margin: 0 auto;
}

.inner-terminal {
    padding-top: 4em;
    margin-top: -2.75em;
    padding-bottom: 4em;
}

#about {
    padding-left: 25%;
    padding-right: 25%;
}

#code {
    border-radius: 5px;
    margin: 0 auto;
    background: #ccc;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
    font-size: 1rem;
    color: #fafafa;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#console {
    padding: 2.5em;
    margin: 0 auto;
    background: #383737;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
}

#dot-row {
    display: inline-flex;
}

#dot-red {
    height: 11px;
    width: 11px;
    background-color: #FF605C;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#dot-yellow {
    height: 11px;
    width: 11px;
    background-color: #FFBD44;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#dot-green {
    height: 11px;
    width: 11px;
    background-color: #00CA4E;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

span.answer {
    color: #ccc;
}

a.console {
    color: #ccc;
}

a.console:hover {
    opacity: 0.5;
}

.blink {
    animation: blinkingText 1.3s linear infinite;
}

@keyframes blinkingText {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        color: #fafafa;
    }
}

#exp {
    background-color: #ffffff;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
}

#education {
    border-radius: 2px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 17px;
    line-height: 150%;
}

.list-items {
    list-style: circle;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.title-row {
    display: flex;
    flex-flow: row;
}

.info-row {
    display: flex;
    padding-top: 0.25rem;
}

.info-block {
    display: inline-block;
}

.title-left {
    font-size: 1.15rem;
}

.info-text {
    padding-left: 0.05rem;
    padding-right: 0.8rem;
    font-size: 0.95rem;
}

#activites {
    padding-top: 1em;
    font-weight: bold;
}

#coursework {
    font-weight: bold;
}

.resume-card {
    padding: 1.5em;
    background-color: #ffffff;
    box-shadow: none;
    border: 2px solid #6495ED;
    border-radius: 15px / 15px;
}

.resume-card:hover {
    box-shadow: 0px 8px 20px rgb(188, 187, 187);
    -webkit-transition: box-shadow .1s ease-in;
}

.skill {
    border: 1px solid #6495ED;
    margin-right: 10px;
    font-weight: 500;
    width: fit-content;
    display: inline-block;
    font-size: 11px;
    line-height: 1.5em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

#projects {
    padding-bottom: 20px;
}

.projects-title {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
    ;
}

.projectLink {
    color: black;
}

.project-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.project-card {
    width: 49%;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: none;
    border: 2px solid #6495ED;
    border-radius: 15px / 15px;
}

.project-card:hover {
    box-shadow: 0px 8px 20px rgb(170, 168, 168);
    -webkit-transition: box-shadow .1s ease-in;
    cursor: pointer;
}

.skill-container {
    margin-top: auto;
}

.skill-padding {
    padding-bottom: 2.25rem;
}

#menu-right a {
    color: #fafafa;
    text-decoration: none;
    border: 0 solid #FFF;
    border-bottom-width: 0;
}

.link,
a.link:hover {
    border-bottom-width: 2px !important;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid #FFF;
    border-bottom-width: 0;
    font-weight: 500;
}

.mat-icon {
    vertical-align: middle;
}

#arrow-icon {
    color: #2968af;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

#title-icon {
    color: #2968af;
    padding-left: 0.25em;
}

#header-icon {
    color: #2968af;
    font-size: 1.25rem;
}

#info-icon {
    color: #2968af;
    padding-top: 0.25rem;
    font-size: 1.15rem;
}

#nav-icon {
    color: #fafafa;
    padding-bottom: 0.15em;
    padding-right: 0.1em;
}

#view-projects {
    margin-top: .75em;
    width: fit-content;
}

#view-projects:hover {
    cursor: pointer;
}

#view-projects:hover #arrow-icon {
    transform: translateX(7px);
    transition: transform 0.3s ease;
}

#view-projects:hover #view-text {
    text-decoration: underline;
    text-decoration-color: #2968af;
    text-decoration-thickness: 2px;
}